{
  "AWSTemplateFormatVersion": "2010-09-09",
  "Description": "Sample EBS Volume with EC2 instance template",
  "Resources": {
    "NewVolume": {
      "Type": "AWS::EC2::Volume",
      "Properties": {
        "Size": 100,
        "Encrypted": true,
        "AvailabilityZone": "us-west-2a",
        "Tags": [
          {
            "Key": "MyTag",
            "Value": "TagValue"
          },
          {
            "Key": "yor_trace",
            "Value": "9ec98902-b150-4af6-8aae-9f3690cfa494"
          }
        ]
      },
      "DeletionPolicy": "Snapshot"
    }
  }
}