name: tests

on:
  pull_request:
    branches:
      - main

jobs:
  unit-test:
    runs-on: ubuntu-latest
    steps:
      - name: Install Go
        uses: actions/setup-go@v2.1.3
        with:
          go-version: 1.13
      - name: Checkout code
        uses: actions/checkout@v2
      - name: Prepare external plugin tests
        run: |
          go build -buildmode=plugin -o tests/yor_plugins/example/extra_tags.so tests/yor_plugins/example/*.go
          go build -buildmode=plugin -o tests/yor_plugins/tag_group_example/extra_tag_groups.so tests/yor_plugins/tag_group_example/*.go
      - name: Build
        run: |
          go build
          go test ./src/...
  linter:
    name: golangci-lint
    runs-on: ubuntu-latest
    steps:
      - name: Check out code into the Go module directory
        uses: actions/checkout@v2
      - name: golangci-lint
        uses: reviewdog/action-golangci-lint@v1
        with:
          tool_name: golangci-lint
          fail_on_error: true
          golangci_lint_flags: "--skip-dirs tests/yor_plugins"
  integration-tests:
    runs-on: ubuntu-latest
    steps:
      - name: Install Go
        uses: actions/setup-go@v2.1.3
        with:
          go-version: 1.13
      - name: Checkout code
        uses: actions/checkout@v2
      - name: build
        run: go build
      - name: Clone Terragoat - vulnerable terraform
        uses: actions/checkout@v2
        with:
          repository: bridgecrewio/terragoat  # clone https://github.com/bridgecrewio/terragoat/
          fetch-depth: 0
          clean: false
          path: 'terragoat'
          ref: 063dc2db3bb036160ed39d3705508ee8293a27c8
      - name: Run yor
        run: |
          git config --local user.email "action@github.com"
          ./yor tag -d terragoat -o json --output-json-file result.json
      - name: Run integration tests
        run: go test ./tests/integration/...